body {
  margin: 0;
  padding: 0;
  background-image: url("your-background-image.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.welcome-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust as needed */
}

img {
  width: 50%; /* Adjust size as needed */
  max-width: 200px; /* Limit size for smaller screens */
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: rgb(52, 201, 64);
  color: #eeeeee;
  border-radius: 5px;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .welcome-page {
      padding: 20px;
  }

  img {
      width: 80%;
      margin-bottom: 10px;
  }

  button {
      font-size: 14px;
  }
}
